

  .draw {
    background: none;
    border: 0;
    box-sizing: border-box;
    padding: 10px 5px 10px 5px;
    font-size: inherit;
    font-weight: 700;
    position: relative;
    vertical-align: middle;
  }

.vote{
  box-sizing: border-box;
  width: 100%;
  color: #f45e61;
  box-shadow: inset 0 0 0 2px #f45e61;

}

.draw-nav{
  box-shadow: inset 0 0 0 2px white !important;
  color: white !important
}

  .draw::before, .draw::after {
    box-sizing: inherit;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
  }

   .draw {
    transition: color 0.25s;
  }
  .draw::before, .draw::after {
    border: 2px solid transparent;
    width: 0;
    height: 0;
  }
  .draw::before {
    top: 0;
    left: 0;
  }
  .draw::after {
    bottom: 0;
    right: 0;
  }
  .draw:hover {
    color: black;
  }
  .draw:hover::before, .draw:hover::after {
    width: 100%;
    height: 100%;
  }
  .draw:hover::before {
    border-top-color: #C8B273;
    border-right-color: #C8B273;
    transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
  }
  .draw:hover::after {
    border-bottom-color: #C8B273;
    border-left-color: #C8B273;
    transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
  }